include:
  # Uncomment lines below to enable specified versions of php server.
  # - phpfpm8.2.docker-compose.yml # local port 9082
  # - phpfpm7.4.docker-compose.yml # local port 9074
  # - phpfpm5.6.docker-compose.yml # local port 9056
  # - phpfpm5.3.docker-compose.yml # local port 9053